.dashboard-pet-info-jumbo {
	height: 33vh;
	width: 100%;
	h3 {
		position: absolute;
		bottom: 0;
		color: white;
		text-align: center;
		font-size: 1rem;
	}
	button {
		position: absolute;
		top: 5%;
		right: 5%;
		background-color: rgba(256, 256, 256, 0.5);
		color: white;
	}
}
.care-plans-box-top {
	h2 {
		font-size: 1.1rem;
		width: 50%;
	}
	svg {
		width: 25px;
		height: 25px;
	}
}
.care-plans-box {
	height: 25vh;
}
.care-plan-title {
	text-align: center;
	h2 {
		font-size: 1rem;
	}
	border-right: 2px solid rgba(226, 232, 240, 1);
}
.care-plan-link {
	a {
		background-color: rgba(0, 0, 0, 0.2);
		width: 80%;
		display: block;
		text-align: center;
		border-radius: 4px;
		height: 100%;
	}
	svg {
		height: 20px;
		width: 20px;
	}
	p {
		font-size: 1rem;
	}
}
.care-plan-wrapper {
}
.dashboard-pet-info-jumbo-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
}
.jumbo-gradient {
	position: absolute;
	background: linear-gradient(rgba(256, 256, 256, 0.1), 80%, rgba(0, 0, 0, 1));
}
.care-plans-container {
	border: 2px solid rgba(226, 232, 240, 1);
	border-radius: 10px;
	width: 100%;
}
.dashboard-pet-info-jumbo-buttons {
	position: relative;
	z-index: 20;
}
.share-pet-button {
	width: 35px;
	height: 35px;
	position: absolute;
	right: 2.5%;
	bottom: 2.5%;
	svg {
		width: 100%;
		height: 100%;
		color: white;
	}
}
.info-wrapper-vPet {
	svg {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 5%;
	}
	.vPet-box {
		display: flex;
		width: 100%;
	}
}
.vBasic-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	h4 {
		font-size: 1.2rem;
	}
	h3 {
		font-size: 1rem;
	}
}

.vCare-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	h4 {
		font-size: 1.2rem;
		width: 100%;
	}
	h3 {
		font-size: 1rem;
		width: 100%;
	}
	h5 {
		font-size: 0.9rem;
		width: 100%;
	}
}

@media (width > 768px) {
	.dashboard-container {
		.card-box-col {
			padding-left: 0;
			padding-right: 0;
		}
		// .care-plans-box {
		// 	margin-right: 1rem;
		// }
		// .info-wrapper-vPet {
		// 	margin-right: 1rem;
		// }
	}
	.card-box-row {
		.col {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}
}
@media (min-width: 1218px) {
	.info-wrapper-vPet {
		margin-right: 1rem;
	}
}
@media screen and (min-width: 844px) {
	.care-plans-box {
		margin-right: 1rem;
	}
	.info-wrapper-vBasic {
		margin-right: 1rem;
	}
}
@media (min-width: 1024px) {
	.box-card {
		min-height: calc(285px + 40px + 16px + 20px) !important;
	}
}
