@import '/styling/dashboard.scss';
@import '/styling/landing.scss';
@import '/styling/login.scss';
@import '/styling/stages.scss';
@import '/styling/nav.scss';
@import '/styling/footer.scss';
html,
body,
.App,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	scroll-behavior: smooth;
	background-color: white;
}
.h-33 {
	height: 33vh !important;
}
.no-margins {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.box-card {
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	min-height: 25vh;
	min-width: 300px;
	padding: 20px 10px 20px 10px;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 8px;
}
a,
button {
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}
.txt-1 {
	font-size: 1rem;
}
.txt-2 {
	font-size: 1.3rem;
}
.txt-3 {
	font-size: 1rem;
}
.card {
	border: none;
}
.card-topper {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10%;
	h2 {
		font-size: 1.2rem;
		margin: 0;
	}
	button {
		color: #64748b;
		background-color: #d0d5dd;
	}
	svg {
		transform: rotate(180deg);
		width: 1.5rem;
		height: 1.5rem;
	}
}
@media screen and (width > 600px) {
	.box-card {
		min-width: 350px;
	}
}
@media screen and (width > 800px) {
	.card-topper {
		justify-content: center;
		h2 {
			height: 100%;
		}
		button {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
	.box-card {
		max-width: 33vw;
	}
}
hr {
	margin: 0;
	width: 25%;
	color: rgba(0, 0, 0, 0.8);
	border-top: 1.5px solid rgba(0, 0, 0, 0.2);
}
.cls-1,
.cls-2 {
	fill: none;
}

.cls-4 {
	fill: #fff;
}

.cls-5,
.cls-6 {
	fill: #98e2c6;
}

.cls-7 {
	fill: #7fae9e;
}

.cls-8 {
	fill: #25292c;
}

.cls-6 {
	opacity: 0.2;
}

.cls-2 {
	clip-path: url(#clippath);
}
